<html>
  <head>
    <title>Cuttle Facts!</title>
    <style type="text/css">
      body {
          backgorund: center top;
          background-image: url("/static/cuddle_bunny.gif");
          background-repeat: no-repeat;
          background-color: rgb(52, 87, 124);
          color: white;
      }
    </style>
  </head>
  <body>
    <h1>Something you need to know about Cuttlefishes</h1>
    <p>
      {{.}}
    </p>
  </body>
</html>
